* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 50%);
}

.bg-intro {
    position: absolute;
    width: 40%;
    right: 0;
    top: 0;
    z-index: -1;
}

.top-container {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}

header {
    padding-top: 3%;
    position: relative;
}

.logo {
    width: 130px;
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}

nav ul li:nth-child(2) {
    background-color: hsl(163, 95%, 43%);
    padding: 10px 32px;
    margin-left: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
    margin-top: 7%;
}

section::after {
    content: "";
    clear: both;
    display: table;
}

section img {
    float: right;
    width: 25%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.8em;
    width: 40%;
    float: left;
    margin-bottom: 0;
}

section p {
    float: left;
    clear: left;
    width: 40%;
    font-size: 1.2em;
    margin: 2% 0;
    line-height: 1.5;
}

section a {
    float: left;
    clear: left;
    background-color: hsl(163, 95%, 43%);
    padding: 15px 50px;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.services {
    height: 80vh;
    text-align: center;
    background-color: #fafafa;
}

.services h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 3%;
}

.services p {
    width: 30%;
    margin: 0 auto;
}

.figures-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 5% auto 0 auto;
}

figure {
    position: relative;
    width: 27%;
    padding-bottom: 40px;
}

figcaption {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Raleway', sans-serif;
}

.companies-container::after {
    content: "";
    clear: both;
    display: table;
}

.companies {
    float: right;
    height: 80vh;
    width: 40%;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
    justify-content: end;
    margin-right: 5%;
    grid-template-rows: auto auto;
}

.company img {
    width: 100%;
}

.company {
    text-align: center;
    border: 1px solid hsl(243, 86%, 85%);
}

.company:nth-child(2) {
    position: relative;
    top: -50px;
}

.company:nth-child(5) {
    position: relative;
    top: -50px;
}

.company h3 {
    font-family: 'Raleway', sans-serif;
}

.company-text {
    width: 40%;
    margin-left: 5%;
    float: left;
    margin-top: 15%;
}

.company-text h2 {
    font-family: 'Raleway', sans-serif;
}

.cta-container {
    height: 50vh;
    text-align: center;
}

.cta {
    padding: 5% 0;
    width: 30%;
    margin: 0 auto;
}

.cta h2 {
    font-family: 'Raleway', sans-serif;
}

.cta a {
    background-color: hsl(163, 95%, 43%);
    padding: 15px 50px;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.cta p {
    margin-bottom: 10%;
}

footer {
    color: white;
    height: 60vh;
    background-color: hsl(243, 87%, 12%);
}

footer p {
    color: white;
    width: 35%;
}

footer table {
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
}

footer table h4 {
    font-family: 'Raleway', sans-serif;
}

footer table td {
    width: 20%;
}

footer table td:nth-of-type(1) {
    width: 40%;
}

footer table td:nth-of-type(1) p {
    width: 80%;
}

footer table img {
    width: 130px;
}

footer table input {
    padding: 10px 32px;
}

#none {
    visibility: hidden;
}

td a {
    text-decoration: none;
    color: hsl(0, 0%, 50%);
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 100;
    margin-bottom: 20px;
}

#join {
    background-color: hsl(163, 95%, 43%);
    padding: 13px 50px;
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: inline-block;
}

.icons {
    width: 20px;
    float: left;
    margin-right: 20px;
}

@media screen and (max-width:1200px) {
    h1 {
        width: 50%;
    }

    section p {
        width: 50%;
    }

    .bg-intro {
        width: 45%;
    }
}

@media screen and (max-width:992px) {
    h1 {
        font-size: 2.3em;
    }

    section p {
        font-size: 1.1em;
    }

    .top-container {
        height: auto;
    }

}

@media screen and (max-width:768px) {
    .top-container {
        height: auto;
    }

    h1 {
        width: 80%;
    }

    section p {
        width: 80%;
        font-size: 1em;
    }

    .bg-intro {
        content: url(/images/bg-intro-mobile.svg);
    }

    section img {
        display: none;
    }
}

@media screen and (max-width:600px) {

    .top-container {
        height: auto;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        text-align: center;
    }

    h1 {
        float: none;
        width: 100%;
        font-size: 2.2em;
    }

    section p {
        float: none;
        margin: 5% 0;
        width: 100%;
        font-size: 16px;
    }

    section a {
        float: none;
        width: 60%;
        font-weight: bold;
        margin: 0 auto 5% auto;
    }

    section img {
        float: none;
        width: 70%;
        margin: 0 auto;
        display: block;
    }

    .bg-intro {
        width: 65%;
    }

    .top-container {
        margin: 0 auto;
    }

    figure {
        width: 100%;
    }

    .services h2 {
        width: 70%;
        margin: 0 auto;
        padding: 5% 0;
    }

    .services p {
        width: 80%;
    }
    .company-text {
        width: 100%;
        float: none;
    }
    .companies {
        float: none;
        height: 260vh;
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 50%;
        grid-gap: 80px;
        justify-content: center;
    }
    .company:nth-child(2) {
        position: static;
    }
    
    .company:nth-child(5) {
        position: static;
    }
    .services {
        height: 100vh;
    }
    .cta {
        width: 100%;
    }
    .cta p {
        width: 80%;
        margin: 0 auto 10% auto;

    }
    .cta-container {
        height: 40vh;
     }
     table td {
         float: left;
         clear: both;
     }
     footer {
         height: 170vh;
     }
}